<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
     <h2>User info</h2>
     <%= form_with model:@user, local: true do |f| %>
     <% if @user.errors.any? %>
     <%= @user.errors.count %> errors prohibited this book from being saved:
     <% @user.errors.full_messages.each do |message| %>
     <%= message %>
     <% end %>
     <% end %>
     <div class=field>
       <h4>Name</h4>
       <%= f.text_field :name, class:"form-control" %>
     </div>
     <label for="inputImage">Image</label>
     <%=f.attachment_field:profile_image %>
     <div class=field>
       <h4>Introduction</h4>
       <%= f.text_area :introduction, class:"form-control" %>
     </div>
     <%= f.submit 'Update User' %>
    </div>
    <% end %>
  </div>
</div>